@charset "UTF-8";

*{margin: 0; padding: 0;}
a{text-decoration: none;}

.clearfix::after{content: ""; clear: both; display: block;}

.nav{
    position: fixed;
    left: 0; top: -62px;
    right: 0; /* width: 100%; */
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 100;
		transition: .3s;
}
.nav.on{top: 0;}
.nav h1{
    float: left;
    font-size: 40px; color: #fff;
    padding: 5px;
}
.nav ul{float: right;}
.nav ul li{
    display: inline;
}
.nav ul li a{
    display: inline-block;
    padding: 20px 15px;
    color: #fff;
    text-transform: uppercase;
}


#contents{}
#contents div{height: 100vh;}
#contents div h2{
    position: relative;
    top: 40%;
    text-align: center;
    color: #fff;
    font-size: 70px;
}

#contents div#section1{background: linear-gradient(to right, #654ea3, #eaafc8);} /* 세번째줄 코드 복사 */
#contents div#section2{background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);}
#contents div#section3{background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);}
#contents div#section4{ background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);}
#contents div#section5{background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);}
#contents div#section6{background: linear-gradient(to right, #ef3b36, #ffffff);}