@charset "UTF-8";

*{margin: 0; padding: 0;}
a{text-decoration: none;}
li{list-style: none;}

.clearfix::after{content: ""; clear: both; display: block;}

.nav{
	position: fixed;
	left: 0; top: 0; width: 100%;
	background: rgba(255, 255, 255, 0.3);
	z-index: 100;
}
.nav h1{
	float: left; font-size: 40px;
	color: #fff; padding: 5px;
}
.nav ul{float: right;}
.nav ul li{float: left;}
.nav ul li a{
	display: block; padding: 20px 15px; 
	color: #fff; text-transform: uppercase;
}
.nav ul li.active a{color: #000; font-weight: bold;}


/* mNav */
.mNav{
	display: none;
	position: absolute;
	width: 65px; height: 65px; top: 10px; right: 10px;
	padding-top: 20px;
}
.mNav .icon-wrap{}
.mNav .icon-wrap .icon{
	position: relative;
}
.mNav .icon-wrap .icon::before,
.mNav .icon-wrap .icon::after,
.mNav .icon-wrap .icon{
	width: 45px; height: 4px;
	background: #444;
}

.mNav .icon-wrap .icon::before{
	content: ""; position: absolute;
	top: 10px; 
}
.mNav .icon-wrap .icon::after{
	content: ""; position: absolute;
	bottom: 10px; 
}


#contents{}
#contents div{height: 100vh;}
#contents div h2{
  position: relative;
  top: 35%;
  text-align: center;
  color: #fff;
  font-size: 70px;
}

#contents div#section1{background: linear-gradient(to right, #654ea3, #eaafc8);} /* 세번째줄 코드 복사 */
#contents div#section2{background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);}
#contents div#section3{background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);}
#contents div#section4{ background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);}
#contents div#section5{background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);}
#contents div#section6{background: linear-gradient(to right, #ef3b36, #ffffff);}


/* 반응형 */
@media (max-width:800px){
	.mNav{display: block;}
	.nav ul{display: none;}
	.nav ul{float: none;}
	.nav ul li{float: none;
	width: 100%; text-align: center;}
  .nav ul li.active a{
	background-color: rgba(255, 255, 255, 0.3);
}
  .nav h1{float: none; text-align: center;}
}